# Node Modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Specific Files
package-lock.json

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.log
*.log.*

# TypeScript
*.tsbuildinfo

# Build Files
dist/
out/
coverage/
.DS_Store

# GitHub & IDE Specific
.github/
.vscode/
.idea/
